body {
  background-color: white;
  text-align: center;
}

#nav ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
  overflow: hidden;
  background-color: white;
  border-radius: 0;
  height: 50px;
  text-align: center;
}

#nav li {
  text-align: center;
  display: inline;
}

#nav li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 18px 40px;
  text-decoration: none;
  font-size: 96%;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 12px;
}

#nav li a:hover {
  font-weight: bold;
}

#nav li a.active {
  font-weight: bold;
}


#green {
  position: relative;
}

#green h1 {
  transform: translate(-22%, -22%);
}

#green img {
  max-width: 100%;
  height: auto;
  padding: 20px 20px;
}

#green-text {
  position: absolute;
  color: white;
  top: 64%;
  left: 57%;
  transform: translate(-44%, -44%);
}

#green p {
  width: 58%;
  text-align: left;
  color: white;
}

h1 {
  font-family: Tahoma, sans-serif;
}

h2 {
  font-family: Tahoma, sans-serif;
}

p {
  font-size: 120%;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: left;
}

#handicap {
  background-color: rgb(214, 211, 211);
  width: 40%;
  text-align: center;
  margin-top: 4px;
  padding: 10px 30px 30px 30px;
  border-radius: 10px;
  border-style: solid;
  display: none;
}

#handicap p {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

#handicap h3 {
  margin-top: 0px;
  font-size: 140%;
  font-family: Arial, Helvetica, sans-serif;
}

#calculator,
#calculator p {
  text-align: center;
}

#games {
  display: none;
  flex-direction: column;
  background-color: rgb(214, 211, 211);
  border-style: solid;
  width: 74%;
  text-align: left;
  margin-top: 4px;
  padding: 10px 30px 30px 30px;
  border-radius: 10px;
}

#games h4 {
  font-size: 170%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#games h5 {
  font-size: 120%;
  font-family: Arial, Helvetica, sans-serif;
  float: center;
}

#form {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  width: 4%;
  margin: 10px 6px;
}
#form button {
  background-color: silver;
  color: black;
  padding: 10px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  width: 20%;
  border-radius: 14px;
}

#handi {
  display: block;
}

#facts h5 {
  font-size: 160%;
  font-family: Arial, Helvetica, sans-serif;
}

#facts {
  margin-top: 100px;
  background-color: rgb(214, 211, 211);
  border-style: solid;
  width: 50%;
  margin-top: 4px;
  padding: 10px 30px 30px 30px;
  border-radius: 10px;
  display: none;
}

#facts ul {
  font-size: 120%;
  list-style-type: disc;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

#leader {
  background-color: rgb(214, 211, 211);
  width: 60%;
  font-size: 96%;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 4px;
  padding: 10px 30px 30px 30px;
  border-radius: 10px;
  font-weight: bold;
  display: none;
  border-style: solid;
}

#leader ul {
  column-count: 6;
}
#flexwrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

#myList {
  list-style-type: decimal;
}

#scorecard {
  display: none;
}

#scorecard h1 {
  display: flex;
  align-content: center;
  background-color: white;
  width: 100%;
  margin: auto;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

th {
  border: 1px solid;
}

table {
  background-color: black;
  width: 100%;
}
#scorecard button {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 54%;
  padding: 6px 6px 6px 6px;
  margin: 2px 2px 4px 180px;
}

#scorecard input[type="text"] {
  width: 54%;
  margin: 4px 2px;
}

#scorecard {
  margin-top: 10%;
  align-self: center;
  border-style: solid;
  width: 50%;
}

#scorecard tr:nth-child(1) {
  background-color: white;
}
#scorecard tr:nth-child(2) {
  background-color: gold;
}
#scorecard tr:nth-child(3) {
  background-color: rgb(56, 145, 247);
}
#scorecard tr:nth-child(4) {
  background-color: white;
}
#scorecard tr:nth-child(4) {
  background-color: white;
}
#scorecard tr:nth-child(5) {
  background-color: rgb(196, 193, 193);
}
#scorecard tr:nth-child(6) {
  background-color: black;
  color: white;
}
#scorecard tr:nth-child(7) {
  background-color: white;
}
#scorecard tr:nth-child(8) {
  background-color: white;
}
#scorecard tr:nth-child(9) {
  background-color: white;
}
#scorecard tr:nth-child(10) {
  background-color: white;
}

@media (max-width: 600px) {
  p {
    font-size: 70%;
  }

  h1,
  h2 {
    font-size: 70%;
  }

  #games h4,
  h5,
  h6 {
    font-size: 70%;
  }

  #handicap h3 {
    font-size: 70%;
  }

  #facts h9 {
    font-size: 70%;
  }

  ul {
    font-size: 70%;
  }

  #handi button,
  #entry button {
    font-size: 40%;
    width: 46%;
  }

  #scorecard {
    width: 50%;
  }
}
