body {
  background-color: white;
  text-align: center;
}

#nav ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
  overflow: hidden;
  background-color: white;
  border-radius: 0;
  height: 50px;
  text-align: center;
}

#nav li {
  text-align: center;
  display: inline;
}

#nav li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 18px 40px;
  text-decoration: none;
  font-size: 96%;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 12px;
}

#nav li a:hover {
  font-weight: bold;
}

#nav li a.active {
  font-weight: bold;
  font-size: 104%;
}

#green {
  position: relative;
}

#green h1 {
  transform: translate(-22%, -22%);
}

#green img {
  max-width: 100%;
  height: auto;
  padding: 20px 20px;
}

#green-text {
  position: absolute;
  color: white;
  top: 64%;
  left: 57%;
  transform: translate(-44%, -44%);
}

#green p {
  width: 58%;
  text-align: left;
  color: white;
}

h1 {
  font-family: Tahoma, sans-serif;
}

h2 {
  font-family: Tahoma, sans-serif;
}

p {
  font-size: 120%;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: left;
}

#handicap {
  background-color: rgb(214, 211, 211);
  width: 40%;
  text-align: center;
  margin-top: 4px;
  padding: 10px 30px 30px 30px;
  border-radius: 10px;
  border-style: solid;
  display: none;
}
#handicap h2 img {
  display: inline-block;
  margin: 14px 14px;
}

#handicap p {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  border-radius: 6px;
  padding: 6px 6px;
  border-style: solid;
}

#handicap h3 {
  margin-top: 0px;
  font-size: 140%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

#calculator,
#calculator p {
  text-align: center;
}

#form {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  width: 4%;
  margin: 10px 6px;
}
#form button {
  background-color: silver;
  color: black;
  padding: 10px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  width: 20%;
  border-radius: 14px;
}

#handi {
  display: block;
}
#myTable {
  border-style: none;
  width: 70%;
  margin: auto;
  padding: 0;
}

#myTable tr:nth-child(1) {
  font-size: 120%;
}
#myTable tr:nth-child(even) {
  background-color: white;
}
#myTable tr:nth-child(odd) {
  background-color: rgb(202, 198, 198);
}

#myTable td:nth-child(1) {
  color: black;
  width: 20%;
}

#myTable td:nth-child(2) {
  color: black;
  width: 20%;
}

#myTable td:nth-child(3) {
  color: blue;
  width: 20%;
}

#myTable td:nth-child(4) {
  color: red;
  width: 20%;
}

#leader {
  background-color: white;
  width: 50%;
  font-size: 70%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 30px 30px 30px;
  border-radius: 10px;
  font-weight: bold;
  display: none;
  border-style: solid;
  color: black;
  margin-top: 4px;
}

#leader h1 img {
  animation: blinking 1s infinite;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1.5;
  }
}
#leader h1 {
  font-family: Georgia, Times, "Times New Roman", serif;
}

#leader table {
  background-color: white;
  color: black;
  text-align: left;

  border-bottom: 0;
}

#flexwrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

#myList {
  list-style-type: decimal;
}

#scorecard {
  display: none;
}

#scorecard h1 {
  display: flex;
  align-content: center;
  background-color: white;
  width: 100%;
  margin: auto;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

th {
  border: 1px solid;
}

table {
  background-color: black;
  width: 100%;
}
#scorecard button {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 54%;
  padding: 6px 6px 6px 6px;
  margin: 2px 2px 4px 180px;
}

#handicap {
  animation: transitionIn 3s;
}
#facts {
  animation: transitionIn 3s;
}
#leader {
  animation: transitionIn 3s;
}
#scorecard {
  animation: transitionIn 3s;
}

#green {
  animation: transitionIn 3s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translate(2);
  }

  to {
    opacity: 1;
    transform: translate(0);
  }
}

#scorecard input[type="text"] {
  width: 54%;
  margin: 4px 2px;
}

#scorecard {
  margin-top: 10%;
  align-self: center;
  border-style: solid;
  width: 50%;
}

#scorecard tr:nth-child(1) {
  background-color: white;
}
#scorecard tr:nth-child(2) {
  background-color: gold;
}
#scorecard tr:nth-child(3) {
  background-color: rgb(56, 145, 247);
}
#scorecard tr:nth-child(4) {
  background-color: white;
}
#scorecard tr:nth-child(4) {
  background-color: white;
}
#scorecard tr:nth-child(5) {
  background-color: rgb(196, 193, 193);
}
#scorecard tr:nth-child(6) {
  background-color: black;
  color: white;
}
#scorecard tr:nth-child(7) {
  background-color: white;
}
#scorecard tr:nth-child(8) {
  background-color: white;
}
#scorecard tr:nth-child(9) {
  background-color: white;
}
#scorecard tr:nth-child(10) {
  background-color: white;
}

@media (max-width: 600px) {
  p {
    font-size: 70%;
  }

  h1,
  h2 {
    font-size: 70%;
  }

  #handicap h3 {
    font-size: 70%;
  }

  #facts h9 {
    font-size: 70%;
  }

  ul {
    font-size: 70%;
  }

  #handi button,
  #entry button {
    font-size: 20%;
    width: 20%;
  }

  #nav ul {
    width: 60%;
  }

  #facts {
    height: 100vh;
  }

  #quiz-container {
    width: 60%;
  }
}

@media (max-width: 800px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid;

    .table-responsive > .table {
      margin-bottom: 0;
    }

    .table-responsive > thead > tr > th,
    .table-responsive > tbody > tr > th,
    .table-responsive > tfoot > tr > th,
    .table-responsive > thead > tr > th,
    .table-responsive > tbody > tr > th;
  }
}

@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

#facts body {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-weight: 300;
  text-align: center;
  background-color: #f8f6f0;
}
#facts h1 {
  font-weight: 600;
  margin: 0px;
  padding: 0px;
  font-size: 30px;
  color: black;
  text-align: center;
  margin-bottom: 0px;
  font-family: sans-serif;
  background-color: white;
  border: black;
  border-style: solid;
  border-radius: 10px;
  width: 50%;
  align-self: center;
}
#facts h1 img {
  display: inline-block;
  margin: 20px 20px;
}
#facts .question {
  font-size: 20px;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 0px;
  font-weight: 200;
  font-family: sans-serif;
  margin-top: 20px;
}
#facts .answers {
  margin-bottom: 0px;
  text-align: center;
  display: inline-block;
  color: black;
  background-color: white;
  border: black;
  border-style: solid;
  width: 30%;
  padding: 14px;
  font-family: sans-serif;
  font-weight: 600;
  font-style: italic;
  border-radius: 6px;
  margin-top: 20px;
}
#facts .answers label {
  display: block;
  margin-bottom: 0px;
}
#facts button {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
  font-size: 14px;
  background-color: rgb(122, 122, 122);
  color: #fff;
  border: 0px;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  font-weight: 100;
  margin-top: 10px;
}
#facts button:hover {
  background-color: rgb(37, 37, 37);
  cursor: pointer;
}

#facts .slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
#facts .active-slide {
  opacity: 1;
  z-index: 2;
}
#facts .quiz-container {
  position: relative;
  height: 300px;
  margin-top: 0px;
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.flex-container > div {
  margin-top: 0px;
  padding: 0px;
}
#buttons {
  margin-top: 240px;
}
#facts {
  background-color: rgb(214, 211, 211);
  border-style: solid;
  width: 54%;
  margin-top: 80px;
  padding: 10px 30px 30px 30px;
  border-radius: 10px;
  display: none;
}

#design {
  font-size: xx-small;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 44%;
}
