

body	{
    background-color: green; 
    text-align: center;
    
    }

    #green {
      position: relative;
      
    }



    #green img {
      max-width: 100%;
      height: auto;
      
    }

    
    #green-text{
      position: absolute;
      color: white;
      top: 50%
      
      

    }

    #green p {

      width: 26%;
      text-align: center;
    }



  



    h1 		{
    
    font-family: Tahoma, sans-serif; 
    }


    h2		{
    font-family: Tahoma, sans-serif;
    
    }


    p 		{
	
      font-size: 120%;
      font-family: Georgia, serif;
      color: white;
      text-align: center;
    }

    
    
    
  

    #handicap  {

      background-color: #adff2f;
      width: 34%;
      text-align: center;
      margin-top: 100px;
      border-radius:10px;
      

    }
    
    #handicap p {

      color: black;
    }



    #games  {
      
      background-color: #adff2f;
      width: 50%;
      text-align: center;
      margin-top: 100px;
      border-radius:10px;
      float: right;
    }